.content {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .cHeader {
  padding-top: 20px;
  height: 20%;
}
.content .cHeader h2 {
  text-align: center;
  font-family: "Hind Guntur", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 5px;
  line-height: 26px;
  text-transform: uppercase;
  color: #666;
}
.content .cHeader p {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #b9b9b9;
}

.content .cBody {
  margin-top: 40px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.content .cBody .cItem {
  width: 20%;
  height: 90%;
  cursor: pointer;
}
.content .cBody .cItem .ciImg {
  width: 100%;
  height: 90%;
}

.content .cBody .cItem .ciDes {
  height: 10%;
}

.content .cBody .cItem .ciDes span {
  display: block;
  width: 100%;
}

.itemHeader,
.itemPrice {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.itemHeader {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.itemPrice {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.3px;
}