footer {
  margin-top: 30px;
  background-color: #ebe5e1;
  color: black;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 12px;
}
footer address img {
  margin-left: 20px;
  width: 100px;
  height: 30px;
}
footer address p {
  margin-left: 20px;
  padding: 3px 0;
}
.fIcon i {
  font-size: 50px;
}